doctype html
html lang="en" class="h-full"
  head
    title = content_for(:title).presence || t("auth.brand")
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    = favicon_link_tag "/favicon.ico", rel: "icon", type: "image/x-icon"
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  body class="h-full"
    div class="flex h-full"
      = render "layouts/sidebar"
      div class="flex-1 flex flex-col min-w-0"
        = render "layouts/topbar"
        main class="flex-1 overflow-y-auto px-8 py-6"
          = render "layouts/flash"
          = yield
