doctype html
html lang="en" class="h-full"
  head
    title = content_for(:title).presence || t("auth.layouts.authentication.default_title", brand: t("auth.brand"))
    meta name="viewport" content="width=device-width,initial-scale=1"
    meta name="apple-mobile-web-app-capable" content="yes"
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    link rel="icon" href="/favicon.ico" type="image/x-icon"
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  body class="min-h-full bg-canvas"
    main class="min-h-full px-4 py-10 flex items-center justify-center"
      = yield
